body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
}

h1 {
    color: forestgreen;
    letter-spacing: 5px;
    text-align: center;
}

span {
    color:sienna;
    letter-spacing: 5px;
    text-align: center;
}

.menu {
    float: left;
    width: 150px;
}

.contenido {
    border: 1px solid lightgray;
    padding: 15px;
    margin-left: 170px;
}

h2 {
    color: rgb(107, 156, 73);
    text-decoration: underline;
}

h3 {
    color: rgb(120, 85, 30);
}