html {
    background-color: lightgrey;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    border-radius: 1%;
    background-color: white;
    padding: 20px;
}

h1 {
    color: forestgreen;
    letter-spacing: 5px;
    text-align: center;
}

span {
    color:sienna;
    letter-spacing: 5px;
    text-align: center;
}

.menu {
    float: left;
    width: 150px;
   
}

ul {
    list-style-type: none;
}

li {
    padding: 8px;
    margin: 5px;
    background-image: linear-gradient(white, rgb(97, 138, 50));
}

li:hover {
    background-image: linear-gradient(white, rgb(110, 82, 56));
}

.contenido {
    border: 1px solid lightgray;
    padding: 15px;
    margin-left: 170px;
    background-image: linear-gradient(lightgray, white, lightgray);
}

h2 {
    color: rgb(107, 156, 73);
    text-decoration: underline;
}

h3 {
    color: rgb(120, 85, 30);
}

.licencia {
    text-align: center;
    color: lightgray;
}